@import './variables';
@import './vendors/index';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

ul, ol{
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.material-symbols-outlined.fill{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.pointer{
  cursor: pointer;
}

.title {
  @extend .fs-6;
  @extend .fs-lg-5;
  @extend .fw-bold;
  @extend .mb-5;
  @extend .mb-lg-7;
}

.sub-title {
  @extend .fw-bold;
  @extend .ps-3;
  @extend .fs-small;
  @extend .fs-lg-0;
  position: relative;
 font-weight: 700;
  &::before{
   content: '';
   position: absolute;
   height: 100%;
   width: 4px;
   border-radius: 10px;
   top: 0;
   left: 0;
  }
  &-primary::before{
   background-color: $primary;
  }
  &-neutral-60::before{
   background-color: $neutral-60;
  }
 }

.cta-btn {
  @extend .pointer;
  @extend .rounded-3;
  @extend .d-flex;
  @extend .justify-content-end;
  @extend .align-items-center;
  height: 116px;
  background: $white;
  &:hover {
    background: $primary;
    color: $white;
    .btn-line::after {
      background: $white;
    }
  }
  .btn-line {
    @extend .fw-bold;
    @extend .fs-small;
    @extend .fs-lg-5;
    &::after {
      content: '';
      display: inline-block;
      width: 150px;
      height: 1px;
      margin-left: 16px;
      background: $black;
      vertical-align: middle;
      line-height: 36px;
    }
  }
}

.banner-wrapper {
  background: url('@/assets/image/mobile/Banner.png'), rgba($black, .6) no-repeat;
  object-fit: cover;
  background-size: cover;
  background-blend-mode: color-burn;
  @include lg {
    background: url('@/assets/image/desktop/Banner.png'), rgba($black, .6) no-repeat;
    object-fit: cover;
    background-size: cover;
    background-blend-mode: color-burn;
  }
  .ls-2 {
    @include letter-spacing(2px);
  }
}

.pagination-default {
  width: 32px;
  height: 4px;
  border-radius: 100px;
  cursor: pointer;
}